<div class='container'>
  <%= render 'serch',genres: @genres %>
  <div class='item-top'>
    <h1><%= @genre.name %>一覧</h1>
  　<p>(全<%= @items.count %>件)</p>
  </div>
  <%= render 'items/item_index',items: @items %>
</div>