<div class="container">
	<div class="row">
		<h3>管理者画面</h3>
	</div>
	<div class="row">
		<table class="table">
			<tr>
				<td>本日の注文件数</td><td><%= @orders"件" %></td>
			</tr>
		</table>
	</div>	
</div>