<div class="row">
  <div class="col-xs-12" id="main-visual2">
    <div class="black-filter">
      <h2>ようこそ！<br />ながのCakeへ！</h2>
      <p>JR長野駅より徒歩5分ほどにあるケーキ屋「ながのCake」。<br>
          おかげさまで創業２０年を迎えることができました!<br>
          小さいお子さんからご年配の方まで、安心して召し上がっていただける<br>
          「やさしい味」を目指しています。
      </p>
    </div>
  </div>
</div>
