<div class="row">
  <div class="col-xs-3">
    <h3>ジャンル検索</h3>
    <%= '未実装です' %>
    <%#= render 'genres/search', genres: @genres %>
  </div>
  <div class="col-xs-9">
    <div class="main-visual">
      <h2>ようこそ、NaganoCakeへ！</h2>
      <p>このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。
      </p>
    </div>
    <div class="featured-items">
      <h3>おすすめ商品</h3>
      <%= '未実装です' %>
      <%#= render 'items/featured_items', items: @items %>
      <%= link_to 'もっと見る(未実装です)', '#' %>
    </div>
  </div>
</div>