<h3><%= "#{@user.family_name} #{@user.first_name}" %>さんの会員詳細</h3>
<div>
  <div class="row">
    <span class="col-xs-3">会員ID</span>
    <span class="col-xs-3"><%= @user.id %></span>
  </div>
  <div class="row">
    <span class="col-xs-3">氏名</span>
    <span class="col-xs-3"></span>
  </div>
  <div class="row">
    <span class="col-xs-3">フリガナ</span>
    <span class="col-xs-3"></span>
  </div>
  <div class="row">
    <span class="col-xs-3">郵便番号</span>
    <span class="col-xs-3"></span>
  </div>
  <div class="row">
    <span class="col-xs-3">住所</span>
    <span class="col-xs-3"></span>
  </div>
  <div class="row">
    <span class="col-xs-3">電話番号</span>
    <span class="col-xs-3"></span>
  </div>
  <div class="row">
    <span class="col-xs-3">メールアドレス</span>
    <span class="col-xs-3"></span>
  </div>
</div>

<%= link_to "編集する", edit_admins_user_path(@user) %>
<%= link_to "注文履歴一覧を見る", admins_orders_path %>