/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

@font-face {
  font-family: 'NotoSansJP-Light';
  src: font-url('NotoSansJP-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GenJyuuGothic-Normal';
  src: font-url('GenJyuuGothic-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  font-family: 'NotoSansJP-Light';
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'GenJyuuGothic-Normal';
}

h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px lightgray;
}

header{
  span {
    line-height: 60px;
  }
  #logo{
    font-size:30px;
    padding-top:10px;
    color:#fff;
  }
  #name{
    color:#fff;
    margin-left: 3em;
  }
  .navbar-right{
    li{
      margin: 5px;
    }
  }
  #search-bar{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 3em;
    input, select{
      height: 20px;
      border: none;
      vertical-align: middle;
    }
    input[type="text"]:focus {
      outline: 0;
    }
    button[type="submit"]{
      border: none;
      background: none;
      color: #3879D9;
      position: absolute;
      font-size: 16px;
      right: 2px;
      top: 2px;
    }
  }
}

footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color:gray;
  color: #fff;
  text-align: center;
  position: absolute;/*←絶対位置*/
  bottom: 0;/*下に固定*/
  p {
    margin: 0;
  }
}

.table-wrapper, .form-wrapper {
  overflow: auto;
}

th {
  min-width: 10rem;
  background-color: #eee;
}

td {
  min-width: 10rem;
}

.row-form {
  margin-bottom: 1rem;
}

.btn {
  margin: 1rem auto;
}
.child-center {
  text-align: center;
}

.f-right {
  float: right;
}

.form-control {
  display: inline-block;
  width: auto;
}

