<div class="container">
	<div class="row">
		<h3>注文履歴一覧</h3>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>購入日時</th>
					<th>購入者</th>
					<th>注文個数</th>
					<th>注文ステータス</th>
				</tr>
				<tr>
					<th>注文機能未実装の為注文履歴表示されません</th><!--あとでこの行削除-->
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |orders| %>
					<tr>
						<td>
							<%= orders.crated_at %> 
							<!--注文機能未実装の為viwに表示されません-->
						</td>
						<td>
							<%= "#{orders.user.family_name} #{orders.user.first_name}" %>
							<!--注文機能未実装の為viwに表示されません-->
						</td>
						<td>
							<%= orders.order_items.how_meny %>
							<!--注文機能未実装の為viwに表示されません-->
						</td>
						<td>
							<%= orders.progress %>
							<!--注文機能未実装の為viwに表示されません-->
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>